<p id="notice"><%= notice %></p>
<div class="secrets">
  <br />
  <br />
  <br />
  <br />
  <h1>📚 Library of Secrets</h1>
  <br />
  <br />
	<table>
		<tr>
			<th>😠</th>
			<th>🔑</th>
		</tr>
		<% @secrets.each do |secret| %>
			<tr>
				<td><%= secret.user %></td>
				<td><%= secret.token %></td>
			</tr>
		<% end %>
	</table>
</div>

<script>
  setInterval(function() {
    location.reload();
  }, 3000)
</script>
