<p id="notice"><%= notice %></p>
<div class="secrets">
  <br />
  <br />
  <br />
  <br />
  <h1>📚 Library of Secrets</h1>
  <br />
  <br />
  <% @secrets.each do |secret| %>
    <h2>🔑<%= secret.token %></h2>
  <% end %>
</div>

<script>
  setInterval(function() {
    location.reload();
  }, 3000)
</script>
