// Place all the styles related to the secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  background-color: #c05400;
  color: #EEE;
  h1 {
    font-size: 64px;
  }
  h2 {
    text-align: center;
    font-size: 48px;
    font-family: "Courier";
    font-weight: 500;
  }
	table {
		margin: auto;
    text-align: center;
    border-collapse: collapse;
    th, td {
			font-size: 36px;
      padding: 16px;
      border-bottom: 2px #b24e00 solid;
      border-collapse: collapse;
    }
	}
  .secrets {
    width: 750px;
    margin: auto;
  }
}

